<footer>
    
   
    <div class="f-info  ">
      <div class="f-info-links">
        <a href="/aboutus">About Us</a>&nbsp;&nbsp;
        <a href="/privacy">Privacy Policy</a>&nbsp;&nbsp;
        <a href="/terms">Terms</a>&nbsp;&nbsp;
        <a href="/contactus">Contact Us</a>&nbsp;&nbsp;
      </div>
      <div class="f-info-socials">
        <i class="fa-brands fa-square-facebook"></i>&nbsp;
        <i class="fa-brands fa-square-instagram"></i>&nbsp;
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <div class="f-info-brand"> College official &copy; Copyright 2024
  </div>
</footer>