<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
<div class="col -8 offset-2">
  <h2 class="home">National Institute Of Technology,Jamshedpur</h2>
</div>
<br><br><br><br>

</div>
<div class="vis">
<h3 >Our Vision </h3>
  <p></p>To be one of the premier technical institutions for its academic excellence and innovative research to meet the future needs of the society.</p>
</div>
<div class="vis">
  <h3>Our Mission</h3>
  <ol>
   <li> To build conducive environment for learning and creativity.</li>
   <li>To train students to become technically competent professionals and socially responsible citizens.</li>
    <li>To develop innovative products and technologies for the betterment of the society.</li></ol>
</div>
</div>
